/target
.idea

!/jams-cli/examples/*.py
!/jams/examples/datasets
!/jams/examples/requirements-linux.txt
!/jams/examples/requirements-macos.txt
/jams-cli/examples/*.json
/jams-cli/examples/*.txt
/jams-cli/examples/*.pt
/jams/examples/*
/jams-core/tests/model_storage/s3_model_store